<form action= "/course/add" method="POST">
<label>CourseName</label><input value = "" name="courseName" /><br/>
<label>CourseDuration</label><input value = "" name="courseDuration" /><br/>
<label>CourseFee</label><input value = "" name="courseFee" />
<button type="submit">Add Course</button>
</form>